*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, sans-serif;
    
}
:root{
    --a: 0;
}
body{
    background-color: black;
    color: white;
}
.nav{
    margin: 8px 0 3px 0;
    grid-template-columns: 4vw 4vw 50vw 20vw 14vw 4vw;
    align-items: center;
    /* height: 7vh; */
}
.nav div{
    margin-right: 20px;
}
.nav .logo{
    margin: 0.3% 25%;
}
.nav .home{
    width: 50px;
    height: 47px;
    border: none;
    border-radius: 25px;
    background-color: #1f1f1f;
}
.nav .searchbox{
    width: 35vw;
    height:7vh;
    background-color: #1f1f1f;
    border-radius: 17vw;
    justify-content: space-between;
}
.nav .searchbox .l button{
    border: none;
    background-color: transparent;
    margin: 0 8px;
}
.nav .searchbox .l input{
    border: none;
    font-size: 17px;
    background-color: transparent;
    color: #fff;
    font-weight: medium;
}
.nav .searchbox .r{
    align-self: center;
}
.nav .searchbox .r button{
    background-color: transparent;
    border: none;
}
.nav .bigthree{
    display: flex;
    gap: 0.7vw;
}
.nav .bigthree button{
    border: none;
    background-color: transparent;
    font-size: 17px;
    font-weight: 600;
    color: hsl(0deg 0% 54.12%);
}
.nav .navlast{
    display: flex;
    gap: 1.5vw;
}
.nav .navlast button{
    background-color: transparent;
    color: hsl(0deg 0% 54.12%);
    border: none;
    font-size: 15px;
    font-weight: 600;
}
.nav .login{
    width: 90px;
    height: 45px;
    border: none;
    font-size: 15px;
    font-weight: 800;
    border-radius: 60px;
    background-color: white;
}
.login:hover{
    background-color: #c7c7c7;
    width: 91px;
    height: 46px;
}


.left{
    width: 31vw;
    /* background-color: hsl(0deg 0% 7.06%); */
    background-color: #121212;
    margin: 6px 3px 6px 6px;
    position: relative;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.close{
    background-color:#1f1f1f;
    height: 40px;
    width: 100%;
    display: none;
}
.asli{
    padding: 20px;
}
.left .lib{
    justify-content: space-between;
    padding-bottom: 20px;
}
.left .footer{
    position: absolute;
    bottom: 5px;
    gap: 6px;
}
.left .footer a{
    color: hsl(0deg 0% 54.12%);
    font-size: 11px;
    text-decoration: none;
}
.songlist{
    height: 66vh;
    overflow: scroll;
}
.songlist ul{
    padding: 0 5px;
}
.songlist ul li{
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: 1fr 16fr 6fr;
    gap: 15px;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 12px;
    border-radius: 5px;
    font-size: 15px;
}
.playnow{
    font-size: 13px;
    justify-content: center;
    align-items: center;
}
.info div{
    word-break: break-all;
}



.right{
    width: 69vw;
    height: 85vh;
    margin: 6px 6px 6px 3px;
    background-color: #121212;
    /* padding: 0 30px 30px 30px ; */
    position: relative;
    
}
.burger{
    display: none;
    height: 40px;
    width: 100%;
    background-color:#1f1f1f;
    padding-left: 20px;
}
.playlists{
    padding: 30px;
}
.playlists h1{
    padding-bottom: 15px;
}
.cardcontainer{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 1.6vw;
    max-height: 65vh;
    overflow-y: scroll;
}
.card{
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background-color: #1f1f1f;
    position: relative;
}
.card:hover{
    background-color: #313131;
    transition: all 0.7s;
    cursor: pointer;
    --a:1;
}
.card > *{
    padding-top: 6px;
}
.card p{
    font-size: 13px;
}
.card img{
    width: 100%;
    object-fit: contain;
}
.play{
    width: 45px;
    height: 42px;
    background-color: #1ed760;
    border-radius: 70px;
    position: absolute;
    top: 55%;
    right: 20px;
    opacity: var(--a);
}
.play img{
    margin-top: 6px;
    margin-left: 2px;
}

.playbar{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #1ed760;
    border-radius: 10px;
    left: 0;
    padding: 10px;
}
.songbuttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.seekbar{
    height: 5px;
    left: 0;
    width: 100%;
    background: hsl(0deg 0% 7.06%);
    border-radius: 10px;
    position:absolute;
    bottom: 0;
    margin: 1px;
}
.circle{
    position: relative;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background-color: yellow;
    bottom: 3px;
    left: 0%;
    transition: left 0.2s;
}
.songcontent{
    display: grid;
    grid-template-columns: 40% 20% 10% 30%;
}
.songtv{
    gap: 20px;
}
.volume{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1360px) {
    .left{
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 400px;
        height: 100vh;
        margin: 0;
    }
    .right{
        width: 100%;
        height: 100vh;
        margin: 0;
    }
    .nav{
        position: absolute;
        top: -120%;
        transition: all 0.3s;
    }
    .burger{
        display: block;
    }
    .close{
        display: block;
    }
    .card{
        width: 70vw;
    }
    .cardcontainer{
        justify-content: center;
    }
    .songcontent{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

}